@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@500;600&display=swap');

*{
    font-family: 'Rokkitt', serif;
}

.formSection{
  background-color: #f0f0f0;
}

.formImg{
    height: 200px;
}

.chooseFile{
    padding: 50px 0 50px;
}

.formDivBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0 50px;
}